doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='web_view.css')
  body
    #header
      h1 frda. yd m,sfndaO l,ukdlrKh
    #section
      h2 frda. yd m,sfndaO l,ukdlrKh
      #illmassa
      h3 b,a ueiaid 
      img(src='1-7-1.jpeg')
      p m%foaYfha f.djSka ish¨q fokd lKavdhï f,i taldnoaO m,sfndaO md,k l%u wkq.ukh lsrSu u.ska id¾:l m%;sM, ,nd .; yelsh  
      p taldnoao m,sfndao md,kh jvd;a iqÿiq h' 
      ul 
        li ydksh
        P b,a ueiaidf.a lSghd lr, jso we;=M jS lrk ydksh ksid lr,a l=KqjS jegS hhs
        img(src='1-7-2.jpeg')
        p   y÷kd .ekSu 
        p   M, ie§u wdrïN jQ wjia:dfõ isgu ydks lrhs 
        p   M, u; ydks l, ia:dk j, hï Èhrhla oelsh yel 
        p   ydks jQ ia:dk iam¾Y l, úg idfmalaIj oDv njla oefka 
        p   lr,a wNHka;rfha ly meye;s f,i ydks jQ ia:dk ksÍlaIKh l, yel

        p b,a ueiaidf.a lSghd lr, úo we;=¿ jS lrk ydksh ksid lr,a l=KqjS jegS hhs
        li fnda. fi!LH wdrCIdj
        p lrú, l=,fha ueis fnda. j, msrsisÿ nj wdrCId lr .ekSug lghq;= lsrSu
        li je, mdoh wjg mia f¾lalhlska weúiaiSu
        p fï ld¾hh u.ska b,a ueiaidf.a ms,d wjê úkdY jS hdu isÿq fõ
        li ydks jQ lr,a úkdY lsrSu 
        img(src='1-7-3.jpg')
        p fï u.ska jevqkq b,a ueiaikaf.a fndajSu iSud l, yelsh. ydks jQ lr,a tl;= lr f.acA 400 >klu l¿ fmd,s;Ska nE.a j,g oud ;oska .eg.id iQ¾hdf,dalhg ksrdjrKh jk mrsos fCIa;%fha ;nkak' fï u.ska ydks jQ lr,a ;=, isák b,a ueiaidf.a ish¿u j¾Ol wjê úkdY fõ
        li lr,a wdjrKh lsrSu 
        img(src='1-7-4.jpg')
        li 
          | iamsfkdfida,a 
          a(style="font-family: 'Times New Roman', Times, serif;") (Spinosaol) 
          | iys; fm%dagSka weu iafm%a lsrSu
          img(src='1-7-4-1.jpeg')
        p i;sm;d m;%hl há me;a;g ia:dkSh m%;sldrhla f,i iamsfkdfida,a iys; fm%dagSka weu biSu lrhs' fï u.skaa lr,a ridhkslj ¥IKh jSula isÿq fkdjk w;r úI øjH lr,a ;=,g mrsjdykhlao fldfy;au isoq fkdfõ
        
        li   merd fmrfudka W.=,a Ndú;h - lshq,sfhda wvx.=
        img(src='1-7-4-2.jpeg')
        li   lafIa;% ikSmdrlaIdj  
        img(src='1-7-4-3.jpeg')
        p   ydks jQ M, by; wdldrfha l¿ nE.hlg oud ;o wõfõ ;eîu  
        
        p 
        |   <a href='http://198.136.54.80/~agridept/agridept/index.php/si/11-sinhala/98-2015-05-12-08-12-28'> lDñ m,sfndaO md,kfha§ lDIsl¾u fomd¾;fïka;=fjka ks¾foaYs; lDñ m,sfndaOkdYl we; fmd;ys ks¾foaYs; wdldrhg m,sfndaO kdYl Ndú;d lrkak'</a>
        p ks¾foaYs; lDñkdYl Ndú;hg fmr fmr wiajkq ld,hla mj;ajdf.k hdu wksjd¾h fõ'
      #gadumessa
      h3 .vq ueiaid ^lrú, j,&
      ul 
        li ydksh 
        img(src='1-7-5.jpg')
        p o,a, ;=, cSj;a jk lDñ lSghdf.a ydksh ksid lrú, je,a j, ukao.duS j¾Okhla yd úlD;s jSula fmkajhs
        li lSghd bj;a lsrSu
        p l=vd msyshl wdOdrfhka lrú, jef,a lDñhd ydks l, ia:dkh m,d lSghd bj;a lsrsu isÿ l, hq;=h
      
      #aulakapora
      h3 wõ,lfmdard lDñhd ^jegfld¿ j,&  
      img(src='1-7-6.jpg')
      ul
        li ydksh
        p fuu lDñhd jegfld¿ j.dfõ ,má wjia:d j,oS m;% j,g ydks lrhs
        img(src='1-7-7.jpg')
        li md,kh
        p 
          | fhda.H lDñ kdYlhla fhdokak. fï i|yd fm%df*fkdf*dia 
          a(style="font-family: 'Times New Roman', Times, serif;") (Profenophos 50% EC) 
          a(style="font-family: 'Times New Roman', Times, serif;") 50% EC 
          | ñ
          a(style="font-family: 'Times New Roman', Times, serif;") .
          | ,S  
          a(style="font-family: 'Times New Roman', Times, serif;") 3.0 
          | la c,h ,Sgrhl osh lr fhosh yelsh. ^b;d blauKska jvd;a mrsir ys;lduS wdrCIdldrS lDñ kdYl ks¾foaY lrkq ,efí&
      h2 frda. l,ukdlrKh
      #yatipiti
      h3 hámqia frda.h yd msámqia frda.h
      ul 
        li m%Odk frda. ,CIK
        ul
          li hámqia frda.h 
          img(src='1-7-8.jpg')
          li msámqia frda.h 
          img(src='1-7-9.jpg')
        li frda. md,kh
        ul
          li wdidos; m;% bj;a lsrSu
          p uq,a wjia:dfõoS wdidos; m;% lvd bj;a lsrSfuka frda.h md,kh lr.; yel
          li os,Sr kdYl fhoSu   
          p ks¾foaYs; os,Sr kdYlhla fhoSfuka frda.h md,kh fõ
        li ffjria frda. ixlS¾Kh
        ul 
          li m%Odk frda. ,CIK 
          img(src='1-7-10.jpg')
          p m;% ly mdg jSu fld< yd ly meye;s m;% iys; m;% úÑ;%h m;% frda,a jSu m;% úlD;s jSu j¾Okh nd, jSu flá wka;¾m¾j we;s jSu
          li fya;=
          p ffjria j._ .Kkdjla ksid, lDuSka yd uhsgdjka me, j,ska Ydl hqI Wrd îfï m%;sM,hla f,i isÿ jk iDcq ydks ksid, lDuSkaf.a fl< iu. me, ;=,g we;=¿ jk úúO úI ridhksl øjH ksid
          li frda. md,kh
          ul
            li fi!LH iïmkak nSc Ndú;h
            p frda. rys; j.djkaf.ka ,nd .kakd nSc kj j.djka msysgqjSu i|yd Ndú; l< hq;=h
            li fnda. ikSmdrCIdj
            p f.dúhd úiska úfYaI wjOdkhla fhduq lrñka fnda.fha msrsisoq nj mj;ajd .; hq;= fõ’ Ydl j, wdidos; fldgia fyda j.dfõ wdidos; Ydl .,jd úkdY lr oeñh hq;=h
            li WmlrK yd wdhqO Ndú;fhaoS úfYaIfhka ie,sls,su;a ùu
            p iuyr ffjria me,Eá hqI ud¾.fhka me;sfrk ksid WmlrK yd wdhqO Ndú;fhaoS f.djSka ie,ls,su;a ùu jeo.;a fõ’
            li ldnksl yd wldnksl fmdfydr m%udKj;a mrsos fhoSu
            p ks¾foaYs; wldnksl fmdfydr iu. m%udKj;a mrsos ldnksl fmdfydr ksis f,i fhoSu u.ska ffjria frda. ksid wiajkq ydks jSu wvq lr .; yelsh
            li l%udkql+, c, iïmdokh
            p c, wd;;shlska f;drj j.dj mj;ajd f.k hdu u.ska hï ;rulg ffjria frda. md,kh lr .; yels nj fmkajd oS ;sfí
            li lDñ kdYl udrefjka udrejg fhoSu
            p 
              | nSc me, jS osk 12 la jhia jQ ;eka isg j.dfõ 
              a(style="font-family: 'Times New Roman', Times, serif;") 100% 
              | u,a msmSu isÿ jk f;la osk 10-12 lg jrla udrefjka udrejg my; lDñ kdYl fhoSu ks¾foaY lr we;
         ul 
           li frda. ,CIK
           p uQ, uKav,h wjg mfia c,jykh ÿ¾j, jSu ksid we;s jk os,Sr wdidok fya;= fldg f.k jef,a mdoh l=KqjSug mgka .kS
           p mfia c,jykh oshqKq lsrSu u.ska frda.h j,lajd .; yelsh
           p jef,a mdoh wjg mig ks¾foaYs; os,Sr kdYlhla fhoSu lrkak
           p lDñ m,sfndaO md,kfha§ lDIsl¾u fomd¾;fïka;=fjka ks¾foaYs; lDñ m,sfndaOkdYl we; fmd;ys ks¾foaYs; wdldrhg m,sfndaO kdYl Ndú;d lrkak'
         p ks¾foaYs; lDñkdYl Ndú;hg fmr fmr wiajkq ld,hla mj;ajdf.k hdu wksjd¾h fõ'
           li ìc m%;sldr lsÍu
           p Ndú;hg fmr ;ukaf.a lDñkdYl bisk hka;%h l%ukalkh lr Ndú; lrkak' ;j o lDñkdYl i|yd kshñ; fkdi,h Ndú; lrkak' Ndú;d lrk hka;% msßiqÿj ;nd .kak   
           
        ul
          li frdamK l%shd
          p jsYajdijka; m%Njhlska frda. j,ska f;dr fi!LH iïmkak nSc kj j.djka i|yd Ndjs;d l, hq;=h’ frda. yd m,sfndaO j,ska f;drj fyd|ska kv;a;= lrk ,o j.djlska nSc ,nd .ekSu b;d jeo.;a fõ’ lrjs, l=,fha ueis fnda. i|yd iqoqiq bvï f;dard .ekSu” ksrAfoaYs; f,i nsï ms,sfh, lsrSu yd fnda.h ia:dms; lsrSu isoq lsrSu l, hq;=h’ ksis f,i je,a lmamdoq lsrSu yd mqyqKq lsrSu” l%uj;a f,i c, iïmdokh lsrSu” ksrAfoaYs; f,i fmdfydr Ndjs;h” idrA:l f,i j,a urAOkh lsrSu wdosh lDIslrAu fomdrA;fïka;=fõ ksrAfoaYs; f,i bgq l, hq;=h’ tfiau ksrAfoaYs; mrsos wiajkq fk,Su yd miq wiajkq l%shd isoq lsrsuo l, hq;= fõ
          
        h3 taldnoaO m,sfndaO md,kh 
        p 
          | taldnoaO m,sfndaO md,kh ñksidf.a fi!LHhg yd mßirhg we;s wjOdku wju jk mßÈ m,sfndaO .ykh wd¾Ólj ydkslr uÜgu olajd jeä ùu wffO¾hu;a lsÍu i|yd ks¾udKh jq" m,sfndaO md,k l%uhls' kuq;a fuys§" ish¨ fhda.H m,sfndaO md,k l%u j, tl;=jla f,i Ndú;d lsÍfï § m,sfndaOkdYl l,amkdldÍj fh§ug muKla iSud fkdù ñksidg yd mßirhg isÿ jk ydksh wju lr .ekSug;a" m,sfndaO j,g fnda.fha we;s m%;sfrdaë;djh yels muK by, kexùug;a yels l%u f;dard .ekSu isÿ l, hq;= h'
          ul
            li j,lajd .ekSu 
            p m,sfndaO .ykh yd m,sfndaO ydks wju lr ;nd .ekSug fyda j,lajd .ekSu msksi  lafIa;%fha fnda.h msysgqùug fmr yd msysgqùfuka miq f.dúm, uÜgfuka bgq l, hq;= ish¨ ld¾hhka we;=,;afõ'
            li iqmÍlaIdldÍ ùu yd we.ehSu 
            p fnda.fha m,sfndaO mj;skafka o" tfia kï l=uk wjia:dfõ o ^ì;a;ro lSghkao ms,jqka o@ iqyqUq,ka o@ wd§ f,i& fukau  tys uÜgu wd§ úia;r oek.ekSug fnda.h ye ta wjg mßirh l%udkql=,j mßlaId lsÍu hs' fuf,i iqmÍlaIdfjka isáñka m<sfndaO md,kh ioyd ueÈy;a úh hq;= WÑ;;u wjia:dj ;SrKh lsÍug wjia:dj ie,fihs' fuys § jd¾;d ;nd .ekSu;a jeo.;a lghq;a;lafõ'
            li m,sfndaO md,kh ioyd ueÈy;a ùu 
            p iqmÍlaIdfjka isáñka ueÈy;a ùug ;SrKh l, miq uq,skau ridhksl fkdjk m,sfndaO md,k l%u taldnoaOj Ndú;hg .; hq;=hs' ta u.ska i;=gqodhlj m,sfndaO md,kh bgq fkdjk nj fmkS hkafka kï muKla ridhksl m,sfndaOkdYl Ndú;hg wjOdkh fhduq lsÍug iqÿiqh'
         p taldnoaO m,sfndaO md,kfha uQ,O¾u j,g wkql+,j lghq;= lsÍfuka fnda.hg m,sfndaOkdYl fh§u m%udo l, yels jk w;r tu.ska f.dúm, msúiqfuka msg jk ksIamdokfha  mj;sk m,sfndaOkdYl wjfYaI wju lr .ekSug yelshdj ,efí   

        
        h3 m,sfndaO kdYl l,ukdlrKh
        img(src='1-7-11.JPG')
        p m,sfndaO kdYl j, iajNdjh” ridhksl ldKavh” l%shd lrk wdldrh yd jsI .;sh wkqj m,sfndaO kdYl jrA.SlrKh lr ;sfí’ uShka i|yd m,sfndaO kdYl j, 
        a(style="font-family: 'Times New Roman', Times, serif;") LD50 
        | w.h u; mokï jQ ydksh .ek i,ld f,dal fi!LH ixjsOdkh
        a(style="font-family: 'Times New Roman', Times, serif;") (WHO) 
        | jsiska m,sfndaO kdYl jrA.SlrKhla m%ldYhg m;a lr ;sfí’ ta wkqj m,sfndaO kdYl fnda;,fha fyda weiqrefï we;s jrAKj;a mgshla u.ska jsI uÜgu fmkajd oS ;sfí’ m,sfndaO kdYl j, jsI uÜgï j, ;Sj%;djh jevsu tajdfha isg wvqu tajd olajd ye|skajSug ms,sfj,ska r;=” ly” ks,a” fld, jrAK mgs m,sfndaO kdYl f,an,a u; Ndjs;d lr we; ta wkqj m%dfhda.slj yels iEu wjia:djlu wvqu jsI iys; m,sfndaO kdYl fnda. j,g fhoSu i|yd f;dard .; hq;=h
        p fnda. ksIamdokhl ;snsh yels Wmrsu m,sfndaO kdYl wjfYaI m%udKh 
        a(style="font-family: 'Times New Roman', Times, serif;") (MRL) 
        | g jvd wvq uÜgulska m,sfndaO kdYl uÜgu ;sfnk njg iy;sl lr .ekSu i|yd m,sfndaO kdYl Ndjs;hg wod,j hym;a lDIsldrAusl ms,sfj;a wkq.ukh lrkq ,efí
        p ksrAfoaYs; ld,dka;r j,ska” ksrAfoaYs; m%udK j,ska” ksrAfoaYs; ldrAhhka i|yd lDIslrAu fomdrA;fïka;=fõ ,shdmosxps m,sfndaO kdYl muKla Ndjs; lrkak
        p n,h ,;a iemhqïlrejka$fj,| uy;=kaf.ka m,sfndaO kdYl us,oS .; hq;=h
        p lDIs ridhksl Ndjs;d lsrSug fmr tys f,an,fha we;s Wmfoia fyd|ska lshjd ta wkqj lDIs ridhksl fhoSug lghq;= lrkak’ ksIamdokh ms,sn| jsia;r ^il%Sh o%jH” o%djlh” idudkH Ndjs;h .ek m%ldYhla& yd Ndjs;d lsrSu i|yd Wmfoia ^fnda.h” b,lal m,sfndaOlhska” fhosh hq;= m%udKh” ld,dka;rh” fhosh hq;= wjia:dj” fmr wiajkq fk,Sfï ld,dka;rh” kej; we;=,a jSfï ld, mrdih& idudkHfhka wod, f,an,fha wka;rA.; lr we;
        p fnda. wiajkq fk,SfïoS ta ta m,sfndaO kdYlhg wod, fmr wiajkq fk,Sfï ld,dka;rh miq lr wiajkq fk,Su wksjdrAhfhkau ms,smeosh hq;= lreKla fõ
        h3 m,sfndaO kdYl usY% lsrSug fmr
        img(src='1-7-12.JPG')
        p m,sfndaO kdYl bisk WmlrK fyd| ;;ajfhka mj;ajd .ekSu i|yd tajd fyd|ska kv;a;= lrkak bisk hka;% ^iafm%a hka;%& j, hï fodaIhla ;sfíoehs mrSCId lr tjekakla we;akï ksjeros lrkak’ fï iïnkaOfhka jdrA;d ;nd .kak
        p  iafm%a hka;%fhka m,sfndaO kdYl jEiaiSula isoq fõ kï jydu w[q;ajevshd lrkak
        p biSug Ndjs;d lrk m,sfndaO kdYl wkqj iqoqiq fkdi,h$fkdi, Ndjs; lrkak
        p fkdi, msrsisoq lsrSu i|yd c,h fyda uDoq l+rla jeks fohla Ndjs;d lrkak lgska msUSu fkdl, hq;a;la fõ
        p m,sfndaO kdYl biSfïoS wksjdrAhfhkau mqoa.,sl wdrCIl WmlrK me,|Su l, hq;=h
        h3 m,sfndaO kdYl usY% lrk w;=r;=roS
        p m,sfndaO kdYlh uekSu i|yd uskqï fldamamhla fyda is,skavrhla Ndjs; lrkak
        p m,sfndaO kdYl usY% lsrSu i|yd msrsisoq c,h Ndjs; lrkak
        p m,sfndaO kdYl fnda;,fha$Ndckfha wvx.= m,sfndaO kdYlh iïmQrAKfhkau Ndjs;d fldg wjika jQ miq fnda;,h$Ndckh ;=ka jrla c,fhka fidaod fiaoQ c,h bisk usY%Khgu tl;= lrkak
        p  iqoqiq w;ajeiqï me,|f.k usY% lsrSu lrkak


    #footer(style='font-family:sans-serif;')
      | Copyright © CropAdvisor
