doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='web_view.css')
  body
    #header
      h1 wiajkq fk,Su yd mYapd;a wiajkq yeisrùu
    #section
      h2 wiajkq fk,Su yd mYapd;a wiajkq yeisrùu
      h3 wiajkq fk,k ld,h
      p m,uq wiajekak - fnda. isgqjd osk 55-65 lska muK bkamiq idudkHfhka iEu osk y;rlg jrla
      p
      | udi 
      a(style='font-family:sans-serif;') 2-2 1/2 
      | l ld,hla ;=, wiajkq jdr 10-14 la muK ,nd foa
      h3 wiajkq fk,Sug iqÿiq ojfia ld,h
      p Woeik ld,fha wiajkq fk,kak'
      h3 wiajkq fk,k l%uh 
      p  l=vd msyshl wdOdrfhka fmd,s;ska wdjrKh iys;j fk,d .kak'
      img(src='1-9-1.jpg')  
      p fj,|fmd,g heùu i|yd iqÿiq uÜgug fyd|ska jevqkq tfy;a fkdfïrE úg lr,a wiajkq jYfhka fk,d .ekSu lrhs
      p lr,a fïrSug fmr fk,d .ekSu lrk kuq;a tajd kshñ; m%udKhg yd j¾Khg ,Õd ù ;snSug bv ie,ish hq;=h lr,a os,sfik fld, fyda iqÿq j¾Kfhka ;sfnk wjia:dfõoS tu os,sfik iq¿ nj my ùug fmr fk,d .kak
      h3 wiajekak
      h4 fk,Q wiajekak iQ¾hdf,dalfhka wdrCId lr .ekSu 
      p yels ;rï blauKska fk¨ wiajekak fCIa;%fhka bj;a lr.; hq;=h 
      p fk¨ wiajekak iQ¾hdf,dalhg ksrdjrKh jSfuka j,lajd .; hq;=h fk¨ wiajekak fCIa;%fhka bj;g f.k hdug m%udo jkafka kï fijK we;s ia:dkhl ma,diaála wiqrkj, ;eìh hq;=h
      h3 fk¨Q wiajekak mia iu. .egSfuka je,elajSu
      p fk¨Q lr,a fl,skau mia iu. fkd.efgk fia ;nkak. wiajekak yiqrejk wiqrk yd .nvd lr ;nk fmd,j iu. iam¾Y jSfuka j,lajd .ekSu wjYH fõ
      p Ndck m;=f,a ;sfnk lr,a mfika ¥IKh jSug bv ;sfnk ksid lr,a wiqrd we;s Ndck mia iu. fl,skau iam¾Y jkfia fkd;enSug lghq;= lrkak
      h3 wiajkq ;enSu i|yd Ndú;d lrk meÿre
      p 
      | f;arSu
      a(style='font-family:sans-serif;') , 
      | j._ lsrSu
      a(style='font-family:sans-serif;') ,  
      | weisrSu wdoS lghq;= i|yd wiajkq ;enSug Ndú;d lrk l,d, 
      a(style='font-family:sans-serif;') ,  
      | meÿre fyda tjeks foa j, msrsiÿ nj
      a(style='font-family:sans-serif;') ,  
      | ridhksl ;ejrS ;snSu
      a(style='font-family:sans-serif;') ,  
      | wd.ka;=l øjH ;snSu yd m,sfndaO ;snSu .ek tajd Ndú;d lsrSug fmr mrSCId lr n,kak
      a(style='font-family:sans-serif;') . 
      | wjYH kï Ndú;hg .ekSug fmr msrsisoq lrkak
      a(style='font-family:sans-serif;') .
      p Ndú;d lrk l,d, ksid ksIamdokh ¥Is; jSug hï wjodkula ;sfí kï tajd Ndú;hg .ekSfuka j,lskak
      h3 f;arSu yd j._ lsrSu
      p 
      | m,sfndaO yd hdka;%sl ydks ksid le,e,a we;s jS ;sfnk lr,a ÿ¾j¾K jQ lr,a úlD;s yeve;s lr,a l=vd lr,a b;du;a fkdfïrE lr,a wêlj fïrE lr,a f;dard bj;a lrkq ,efí
      a(style='font-family:sans-serif;') .
      p 
      | bka miq lr,a l=vd
      a(style='font-family:sans-serif;') , 
      | uOHu yd úYd, m%udKfha lr,a jYfhka j._ lr weisrSug Ndú;d lrhs
      a(style='font-family:sans-serif;') .
      h3 weisrSu
      img(src='1-9-2.jpg') 
      img(src='1-9-2-1.jpeg') 
      p m;=,g yd fome;a;g iqoqiq weiqreï øjH ;nd ms,sfj,lg lr,a weisrSu l, hq;=h
      p 
      | lr,a we;=rE Ndck tlsfkl u; f.dv .ekSu fkdlrkak
      a(style='font-family:sans-serif;') .
      p flfi,a mË/,a yd fmd,a w;= j,ska wdjrKh lsrSfuka ñá j,g n|skq ,efí
      img(src='1-9-3.jpg') 
      img(src='1-9-4.jpg') 
      h3 y÷qkd .ekSu
      p 
      | f.dúmf,a iEu ueis fnda. ksIamdok tallhlau kulska
      a(style='font-family:sans-serif;') , 
      | ixfla;hlska fyda wxlhlska y|qkajkq ,efí
      a(style='font-family:sans-serif;') . 
      | fuu ku ixfla;h fyda wxlh msysgSï is;shfï igyka lrk w;r tla tla ksIamdok tallh ;=, tys ku
      a(style='font-family:sans-serif;') , 
      | ixfla;h fyda wxlh m%o¾Ykh lsrSug lghq;= lrkak
      a(style='font-family:sans-serif;') .
      p wiajkq weiqrE Ndck j, wiqrd we;af;a l=uk tallfhka fk,d .;a wiajekak oehs meyeos,sj ,l=Kq lrkak
      p fk¨ ksIamdok f;d.h hejQ fj,|fmd, yd tajd hejQ oskh yd m%udKh ms,sn| jd¾;d ;nd .kak
      p 
      | hï fnda. ksIamdok f;d.hla ÿQIKh jS ;sfnkq fyda ÿQIKh jS ;snSug bv we;s njg y÷qkd .;fyd;a tu f;d.h fjka fldg ;eìh hq;= w;r fnod yerSu j,lajkak
      a(style='font-family:sans-serif;') . 
      | fï jk úg;a tn÷ hï fnda. ksIamdok f;d.hla úl=Kd we;akï ñ,oS .;a mqoa.,hdg jydu oekqï fokak
      p 
      | hï fnda. ksIamdok f;d.hla ¥IKh jS we;s fya;=j mrSCId lr n,d tjeks ¥QIKh jSula kej; isÿ jSu j,lajd .ekSug ksjeros lsrSfï l%shd ud¾. wkq.ukh lrkak
      a(style='font-family:sans-serif;') . 
      | ¥IKh jSug fya;= yd tajd ksjeros lsrSug wkq.ukh l, l%shd ud¾. .ek jd¾;d ;nd .kak
      h3 m%jdykh lsrSu
      img(src='1-9-5.jpg') 
      p 
      | fnda. ksIamdok m%jdykh i|yd fhdod .kakd jdyk mQ¾j mrSCIKhg Ndckh lrkak
      a(style='font-family:sans-serif;') . 
      | fnda. ksIamdok ¥IKh jSfï wjodkula ;sfnk njg yeÕS .shfyd;a fnda. f;d. megjSug fmr fyd|ska msrsisoq lrkak
      a(style='font-family:sans-serif;') .
      p 
      | ridhksl cSj úoHd;aul fyda fN!;slj fnda. ksIamdok ¥IKh jSug úNjhla ;sfnk NdKav fyda øjH j,ska fjka jk mrsos weiqrE f;d. mgjd m%jdykh lrkak
      a(style='font-family:sans-serif;') .
      h3 .nvd lsrSu
      p ;rula fkdfïrE wjia:dfõoS wiajkq fk,d we;akï lrú, ldur WIaK;ajfhaos osk 4-6 la muK .nvd lr ;nd .; yelsh
      p 
      | fi
      a(style='font-family:sans-serif;') .
      | f.%a
      a(style='font-family:sans-serif;') . 
      | wxYl 13 jeks my;a WIaK;ajfha .nvd lr ;nd .; yels kï .nvd ld,h osk 14-16 la muK olajd os.= lr .ekSug mq¿jk
      a(style='font-family:sans-serif;') .
      p 
      | fyd|ska mrsyrKh lrk ,o mf;da, lr,a ydkshlska f;drj osk 7-10 la muK ;nd .ekSug yelshdj we;
      a(style='font-family:sans-serif;') .

      
    #footer(style='font-family:sans-serif;')
      | Copyright © CropAdvisor